<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.twoweeks.twoweeks">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="sensorPortrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".DayOneActivity">
        </activity>
        <activity android:name=".DayTwoActivity">
        </activity>
        <activity android:name=".DayThreeActivity">
        </activity>
        <activity android:name=".DayFourActivity">
        </activity>
        <activity android:name=".DayFiveActivity">
        </activity>
        <activity android:name=".DaySixActivity">
        </activity>
        <activity android:name=".DaySevenActivity">
        </activity>
        <activity android:name=".DayEightActivity">
        </activity>
        <activity android:name=".DayNineActivity">
        </activity>
        <activity android:name=".DayTenActivity">
        </activity>
        <activity android:name=".DayElevenActivity">
        </activity>
        <activity android:name=".DayTwelveActivity">
        </activity>
        <activity android:name=".DayThirteenActivity">
        </activity>
        <activity android:name=".DayFourteenActivity">
        </activity>
    </application>

</manifest>